<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div id="main"></div>
    <!-- <div class="player">
        <div class="overlay" style="background: "></div>
        <img class="bg" src="./backgrounds/bg1.jpg">
        <img class="faction" src="./factions/GDI.jpg">
        <div class="ptext name">Henry</div>
        <div class="ptext score">3</div>
    </div> -->
</body>
<script src="main.js"></script>

</html>