@font-face {
    font-family: 'Eurostile';
    src: url('Eurostile-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --border_color: #ccc;
    --team_border_color: #white;
    --border_width: .1vw;
}

#main {
    font-family: Eurostile;
    position: relative;
}

.team {
    position: relative;
    margin: 0vw 0 2vw 0;
    border: var(--border_width) solid var(--team_border_color);
    box-shadow: 0 0 .9vw white;
    width: 98%;
}

.player {
    position: relative;
    height: 14vw;
    border: var(--border_width) solid var(--border_color);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.493), rgba(255, 255, 255, .3)), linear-gradient(to top, rgba(255, 255, 255, .2), rgba(0, 0, 0, .1) 20%, rgb(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 80%, rgba(255, 255, 255, .2));
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: overlay;
    filter: blur(0.1vw);
}

.faction {
    height: 100%;
    width: auto;
    border-right: calc(1*var(--border_width)) solid var(--border_color);
    background-color: rgba(0, 0, 0, 0.041);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.411));
}

span {
    font-size: 7vw;
    text-shadow: .3vw .3vw rgba(0, 0, 0, 0.4);
}

.name {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2%;
    width: 75%;
    white-space: nowrap;
}

.name>span {
    color: white;
    font-weight: bold;
}

.score {
    position: absolute;
    width: 10%;
    top: 0vw;
    right: 0vw;
    background-image: linear-gradient(to bottom right, #222, #666);
    height: calc(100% - 2*var(--border_width));
    border: var(--border_width) solid var(--border_color);
    border-left: calc(2*var(--border_width)) solid var(--border_color);
    z-index: 2
}

.score span {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}