@font-face {
    font-family: 'Eurostile';
    src: url('Eurostile-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --border_color: #999;
    --border_width: .2vw;
}

body {
    font-family: Eurostile;
}

#main {
    position: relative;
}

.player {
    position: relative;
    width: 100vw;
    height: 16vw;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.116), rgba(0, 0, 0, 0.4)), linear-gradient(to top, #999, #555 25%, #444 50%, #555 75%, #999);
    border: var(--border_width) solid var(--border_color);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* opacity: .5; */
    mix-blend-mode: overlay;
    /* overlay | color | multiply */
}

.faction {
    height: 100%;
    width: auto;
}

.ptext {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

span {
    font-size: 7vw;
    text-shadow: .3vw .3vw rgba(0, 0, 0, 0.4);
}

.ptext>span {
    color: white;
    font-weight: bold;
}

.name {
    margin-left: 2%;
    width: 75%;
    white-space: nowrap;
}

.team {
    position: relative;
    margin: 1vw 0 1vw 0;
    border: var(--border_width) solid var(--border_color);
    box-shadow: 0 0 .3vw var(--border_color);
}

.score {
    position: absolute;
    width: 10%;
    top: 0vw;
    right: 0vw;
    background-image: linear-gradient(to bottom right, #222, #666);
    height: calc(100% - 2*var(--border_width));
    border: var(--border_width) solid var(--border_color);
    border-left: calc(2*var(--border_width)) solid var(--border_color);
    z-index: 2
}

.score span {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}