@font-face {
    font-family: 'Eurostile';
    src: url('Eurostile-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Eurostile;
}

#main {
    position: relative;
}

.player {
    position: relative;
    width: 100vw;
    height: 16vw;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* opacity: .5; */
    mix-blend-mode: overlay;
    /* overlay | color | multiply */
}

.faction {
    height: 100%;
    width: auto;
}

.ptext {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

span {
    font-size: 7vw;
}

.ptext>span {
    color: white;
    font-weight: bold;
}

.name {
    margin-left: 2%;
    width: 75%;
    white-space: nowrap;
}

.team {
    position: relative;
    margin: 1vw 0 1vw 0;
    border: 0.4vw solid #999;
}

.teamico {
    position: absolute;
    width: 10%;
    top: 0vw;
    right: 0vw;
    background: #2E2E2E;
    height: 100%;
}

.teamico span {
    background: #2E2E2E;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}